body{
  background-color: #FFCCFF;
}


h1{
  text-align: center;
  font-style:oblique;
  font-size: 70px;
  color:#0066CC;
}

p
{ 
  font-size: 30px;
  color: blue;
  text-align: left;
}

.top{
  width: 1200px;
}

.right{
  float: right;
  
}

.left{
  float: left;

}


.pic{
  width: 300px;
  float: center;
  border-style: solid;
  border-color: #C0C0C0;
  border-width: medium;
}

img{
  width: 100%;
}
